API_PREFIX=
AUTHORIZATION=your-private-api-key
CHATGPT_TOKENS=
CHATGPT_BASE_URL=https://chatgpt.com
PROXY_URL=
SENTINEL_PROXY_URL=
EXPORT_PROXY_URL=
HISTORY_DISABLED=true
POW_DIFFICULTY=000032
RETRY_TIMES=3
CONVERSATION_ONLY=false
ENABLE_LIMIT=true
UPLOAD_BY_URL=false
CHECK_MODEL=false
SCHEDULED_REFRESH=false
RANDOM_TOKEN=true
OAI_LANGUAGE=en-US
AUTH_KEY=
TURNSTILE_SOLVER_URL=
ARK0SE_TOKEN_URL=
ENABLE_GATEWAY=false
AUTO_SEED=true
